<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.android.tsi">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE " />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_tsi_wd_rect"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_tsi_rd"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8686454969066832~6147856904"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBNJnhr6YYlvan5jK2Zs3sAGjrh6Y6o2iU"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PagaActivity">
        </activity>
        <activity android:name=".PowerLoadsActivity">
        </activity>
        <activity android:name=".PowerCableActivity">
        </activity>
        <activity android:name=".TaskListActivity">

        </activity>
        <activity android:name=".SettingsActivity"/>

        <receiver android:name=".Widget.SummaryWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/summary_widget_info"/>
        </receiver>
        <service android:name=".Widget.SummaryService"/>
    </application>

</manifest>